Humans not only take debts to manage necessities. A country may also take debt to manage its economy. For example, infrastructure spending is one costly ingredient required for a country's citizens to lead comfortable lives. The World Bank is the organization that provides debt to countries.

In this project, you are going to analyze international debt data collected by The World Bank. The dataset contains information about the amount of debt (in USD) owed by developing countries across several categories. You are going to find the answers to the following questions:

- What is the number of distinct countries present in the database?
- What country has the highest amount of debt?
- What country has the lowest amount of repayments?

Below is a description of the table you will be working with:

## `international_debt` table

| Column | Definition | Data Type |
|-|-|-|
|country_name|Name of the country|`varchar`|
|country_code|Code representing the country|`varchar`|
|indicator_name|Description of the debt indicator|`varchar`|
|indicator_code|Code representing the debt indicator|`varchar`|
|debt|Value of the debt indicator for the given country (in current US dollars)|`float`|

You will execute SQL queries to answer three questions, as listed in the instructions.

## 1. Exploring the Dataset

In [1]:
SELECT COUNT(DISTINCT country_name) AS number_of_countries
FROM international_debt;

   number_of_countries
0                  124

The DISTINCT keyword ensures that only unique country names are counted.

The COUNT() function gives the total number of these unique entries.

In [4]:
SELECT DISTINCT country_name
FROM international_debt
ORDER BY country_name;

      country_name
0      Afghanistan
1          Albania
2          Algeria
3           Angola
4          Armenia
..             ...
119  Venezuela, RB
120        Vietnam
121    Yemen, Rep.
122         Zambia
123       Zimbabwe

[124 rows x 1 columns]

**Find countries with the most records:**

In [5]:
SELECT country_name, COUNT(*) AS record_count
FROM international_debt
GROUP BY country_name
ORDER BY record_count DESC
LIMIT 5;

         country_name  record_count
0  Dominican Republic            25
1             Albania            25
2            Cameroon            25
3           Indonesia            25
4               Ghana            25

**Validate unique mapping between country_name and country_code**

In [6]:
SELECT country_name, country_code, COUNT(*)
FROM international_debt
GROUP BY country_name, country_code
HAVING COUNT(*) > 1;

                       country_name country_code  count
0                           Morocco          MAR     24
1                          Ethiopia          ETH     23
2                         Guatemala          GTM     22
3                           Liberia          LBR     14
4    St. Vincent and the Grenadines          VCT     18
..                              ...          ...    ...
119                          Mexico          MEX     22
120                        Mongolia          MNG     22
121                      Bangladesh          BGD     20
122                     Congo, Rep.          COG     18
123                         Somalia          SOM     11

[124 rows x 3 columns]

**Most and least common indicators**

In [7]:
SELECT indicator_name, COUNT(*) AS record_count
FROM international_debt
GROUP BY indicator_name
ORDER BY record_count DESC
LIMIT 1; -- Most common

SELECT indicator_name, COUNT(*) AS record_count
FROM international_debt
GROUP BY indicator_name
ORDER BY record_count ASC
LIMIT 1; -- Least common

                                    indicator_name  record_count
0  PPG, other private creditors (DIS, current US$)            19

The result indicates that all indicators in the dataset appear an equal number of times (19 records). This suggests a highly structured dataset where each indicator_name has the same number of records across countries. It aligns with the earlier observation that countries like the Dominican Republic, Albania, and others have equal numbers of records (e.g., 25).

## 2. Country with the Highest Amount of Debt

In [16]:
SELECT country_name, SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 1;

  country_name    total_debt
0        China  2.857935e+11

SUM(debt) aggregates the debt values for each country.

GROUP BY country_name groups the rows by country.

ORDER BY total_debt DESC sorts the result in descending order of total debt.

LIMIT 1 ensures that only the country with the highest debt is returned.

The output of my query shows that China has the highest total debt, amounting to 285,793,494,734.2 USD.

This result is obtained by summing up all the debt values associated with China in the international_debt table and sorting the aggregated totals in descending order. The LIMIT 1 ensures only the top result is displayed.

## 3.Country has the lowest amount of principal repayments (indicated by the "DT.AMT.DLXF.CD" indicator code)

In [19]:
SELECT 
    country_name, 
	indicator_name,
	MIN(debt) AS lowest_repayment
FROM international_debt
WHERE indicator_code='DT.AMT.DLXF.CD'
GROUP BY country_name, indicator_name
ORDER BY lowest_repayment
LIMIT 1;

  country_name  ... lowest_repayment
0  Timor-Leste  ...           825000

[1 rows x 3 columns]

The WHERE indicator_name LIKE '%Repayment%' filters rows to include only those where the indicator_name mentions "Repayment."

SUM(debt) calculates the total repayments for each country.

ORDER BY total_repayments ASC sorts the result in ascending order to find the lowest repayments.

LIMIT 1 ensures that only the country with the lowest repayments is returned.

Timor-Leste has the lowest amount of principal repayments for external long-term debt (indicator code DT.AMT.DLXF.CD), with a repayment amount of 825,000 USD.

## 4. Top 5 Countries with the Highest Total Debt

In [20]:
SELECT 
    country_name, 
    SUM(debt) AS total_debt
FROM international_debt
GROUP BY country_name
ORDER BY total_debt DESC
LIMIT 5;

                                   country_name    total_debt
0                                         China  2.857935e+11
1                                        Brazil  2.806240e+11
2                                    South Asia  2.476087e+11
3  Least developed countries: UN classification  2.128810e+11
4                            Russian Federation  1.912891e+11

## 5.Total Debt by Each Indicator

In [21]:
SELECT 
    indicator_name, 
    SUM(debt) AS total_indicator_debt
FROM international_debt
GROUP BY indicator_name
ORDER BY total_indicator_debt DESC;

                                       indicator_name  total_indicator_debt
0   Principal repayments on external debt, long-te...          7.322037e+11
1   Principal repayments on external debt, private...          4.077344e+11
2   Disbursements on external debt, long-term (DIS...          2.647011e+11
3          PPG, official creditors (DIS, current US$)          2.389960e+11
4   Interest payments on external debt, long-term ...          2.038590e+11
5           PPG, private creditors (AMT, current US$)          1.767620e+11
6          PPG, official creditors (AMT, current US$)          1.477073e+11
7                   PPG, bilateral (DIS, current US$)          1.382147e+11
8                PPG, multilateral (DIS, current US$)          1.007812e+11
9   Interest payments on external debt, private no...          9.641246e+10
10                  PPG, bilateral (AMT, current US$)          8.693960e+10
11                      PPG, bonds (AMT, current US$)          7.470105e+10
12          PPG, private creditors (INT, current US$)          7.053454e+10
13           PPG, commercial banks (AMT, current US$)          6.172897e+10
14               PPG, multilateral (AMT, current US$)          6.076771e+10
15                      PPG, bonds (INT, current US$)          5.552660e+10
16    PPG, other private creditors (AMT, current US$)          4.033200e+10
17         PPG, official creditors (INT, current US$)          3.691199e+10
18                  PPG, bilateral (INT, current US$)          2.001938e+10
19               PPG, multilateral (INT, current US$)          1.689261e+10
20          PPG, private creditors (DIS, current US$)          1.650013e+10
21           PPG, commercial banks (DIS, current US$)          1.495856e+10
22           PPG, commercial banks (INT, current US$)          1.315840e+10
23    PPG, other private creditors (INT, current US$)          1.849535e+09
24    PPG, other private creditors (DIS, current US$)          1.541568e+09

##  6. Average Debt per Country

In [22]:
SELECT 
    country_name, 
    AVG(debt) AS avg_debt
FROM international_debt
GROUP BY country_name
ORDER BY avg_debt DESC;

                                     country_name      avg_debt
0                                           China  1.190806e+10
1                                          Brazil  1.169267e+10
2                                      South Asia  1.031703e+10
3                              Russian Federation  9.109003e+09
4    Least developed countries: UN classification  8.515240e+09
..                                            ...           ...
119                                   Timor-Leste  7.100096e+06
120                                      Dominica  6.902215e+06
121                                       Comoros  4.797374e+06
122                         Sao Tome and Principe  3.733169e+06
123                                         Tonga  3.680620e+06

[124 rows x 2 columns]

## 7. Countries with Zero Debt

In [23]:
SELECT DISTINCT country_name
FROM international_debt
WHERE debt = 0;

          country_name
0               Guinea
1              Nigeria
2           Mozambique
3               Rwanda
4           Bangladesh
5          Congo, Rep.
6             Cameroon
7             Eswatini
8             Honduras
9                 Fiji
10              Belize
11             Belarus
12             Armenia
13            Paraguay
14      Macedonia, FYR
15               Gabon
16  Dominican Republic
17           Guatemala
18    Congo, Dem. Rep.
19              Serbia
20             Eritrea
21             Bolivia
22            Ethiopia
23             Albania
24            Bulgaria
25    Egypt, Arab Rep.
26                Mali
27          Azerbaijan
28             Georgia
29                Chad
30             Morocco
31             Algeria
32             Myanmar
33            Maldives
34               Tonga
35            Tanzania
36             Senegal
37          Kazakhstan
38               Ghana
39              Zambia
40          Costa Rica
41               Haiti
42            Thailand
43            Mongolia

## 8. Exploring Outliers

In [25]:
SELECT 
    country_name, 
    indicator_name, 
    debt
FROM international_debt
WHERE debt > (SELECT AVG(debt) + 2 * STDDEV(debt) FROM international_debt)
ORDER BY debt DESC;

                                    country_name  ...          debt
0                                          China  ...  9.621862e+10
1                                         Brazil  ...  9.004184e+10
2                                          China  ...  7.239299e+10
3                             Russian Federation  ...  6.658976e+10
4                                         Turkey  ...  5.155503e+10
5                                     South Asia  ...  4.875630e+10
6                                         Brazil  ...  4.359870e+10
7                             Russian Federation  ...  4.280015e+10
8                                         Brazil  ...  4.183144e+10
9   Least developed countries: UN classification  ...  4.016077e+10
10                                        Turkey  ...  3.991620e+10
11  Least developed countries: UN classification  ...  3.727398e+10
12                                        Brazil  ...  3.511900e+10
13                                      IDA only  ...  3.453119e+10
14                                      IDA only  ...  3.325823e+10
15                                         India  ...  3.192351e+10
16                                     Indonesia  ...  3.091611e+10
17                                    South Asia  ...  2.930622e+10
18                                    South Asia  ...  2.899190e+10
19                                    Kazakhstan  ...  2.748209e+10
20                                    Kazakhstan  ...  2.635736e+10
21                                        Mexico  ...  2.521850e+10
22  Least developed countries: UN classification  ...  2.519703e+10
23                                    South Asia  ...  2.437085e+10
24                            Russian Federation  ...  2.357801e+10
25  Least developed countries: UN classification  ...  2.333396e+10
26                            Russian Federation  ...  2.207740e+10
27                                      IDA only  ...  2.048329e+10
28                                         India  ...  2.030707e+10
29                                        Mexico  ...  1.926797e+10
30                                     Indonesia  ...  1.864387e+10
31                                        Mexico  ...  1.863253e+10
32                                      Cameroon  ...  1.818666e+10
33                                      Cameroon  ...  1.794058e+10
34                                         China  ...  1.786655e+10
35                                    South Asia  ...  1.726911e+10
36                                        Mexico  ...  1.710955e+10
37                                      Cameroon  ...  1.709054e+10
38  Least developed countries: UN classification  ...  1.702898e+10
39                                        Brazil  ...  1.700165e+10
40                                      IDA only  ...  1.688290e+10
41                                      IDA only  ...  1.637533e+10
42                                    South Asia  ...  1.593156e+10
43                                         China  ...  1.569256e+10
44                                         China  ...  1.467746e+10
45                                    South Asia  ...  1.428954e+10
46                                         China  ...  1.414272e+10
47                                       Romania  ...  1.401378e+10
48  Least developed countries: UN classification  ...  1.394002e+10
49                            Russian Federation  ...  1.392983e+10
50                                        Mexico  ...  1.313163e+10
51  Least developed countries: UN classification  ...  1.294470e+10
52                                        Mexico  ...  1.231071e+10
53                                        Turkey  ...  1.209557e+10
54                                      Colombia  ...  1.198567e+10

[55 rows x 3 columns]

## 9.  Create a Summary Report

In [24]:
WITH total_debt AS (
    SELECT 
        country_name, 
        SUM(debt) AS total_debt
    FROM international_debt
    GROUP BY country_name
),
highest_debt AS (
    SELECT 
        country_name, 
        total_debt
    FROM total_debt
    ORDER BY total_debt DESC
    LIMIT 1
),
lowest_repayment AS (
    SELECT 
        country_name, 
        MIN(debt) AS lowest_repayment
    FROM international_debt
    WHERE indicator_code = 'DT.AMT.DLXF.CD'
    GROUP BY country_name
    ORDER BY lowest_repayment
    LIMIT 1
)
SELECT 
    (SELECT COUNT(DISTINCT country_name) FROM international_debt) AS distinct_countries,
    (SELECT country_name FROM highest_debt) AS highest_debt_country,
    (SELECT country_name FROM lowest_repayment) AS lowest_repayment_country;

   distinct_countries highest_debt_country lowest_repayment_country
0                 124                China              Timor-Leste